@import url("/static/font.css");

body {
    max-width: 100%;
    background-color: #FFFAF1;
    font-family: sans-serif;
}

#wrapper {
    max-width: 768px;
    padding-top: .8em;
    padding-left: .8em;
}

a {
    color: #004394;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding-bottom: .2em;
    padding-left: .2em;
    display: inline;
}
