{% extends 'base.html' %}

{% block content %}

<p>things on the web worth sharing</p>

{% for hit in context.hits %}
<article>
    <h3>{{hit.title}}</h3>
    <blockquote>
        {% for line in hit.blockquote %}
        <p>{{line}}</p>
        {% endfor %}
        {% if hit.cite %}
        <footer>
            <cite
            >—
            <a
                href="{{hit.href}}"
                target="_blank"
                >{{hit.cite}}</a
            ></cite>
        </footer>
        {% else %}
        <a href="{{hit.href}}" target="_blank">source</a>
        {% endif %}
    </blockquote>
</article>
{% endfor %}
{% endblock %}
